.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
  @include desktop-only {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

  & header_logo {
    background: rgb(255, 255, 255);
    width: 160%;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #f4f4f4;
    padding: 5px 46px;
    @include desktop-only {
      text-align: left;
      box-shadow: none;
    }
    img {
      height: 500px;
      width: 160px;
    }
  }
}


  