// COLOR background
$white: #ffffff;

// COLOR Search - Paris/Belleville
$grey:#EAEAEA;

// COLOR Text : Réserver... Fonctionnement... options
$black:#000000;

//dégradé COLOR variants
$gradient : linear-gradient(180deg, rgba(255,121,218,1));
$dark-primary-color: darken(#9356DC, 10%);
$light-primary-color: lighten(#9356DC, 20%);


// Boutons COLOR ===========
$color-primary: #9356DC;
$color-decondary:#ff79da;
$color-tertiary:#99e2d0;

//TEXT-size-style-family-weight
$font-texte: 'Roboto', 'sans-serif';
$font-logo:"Shrikhand", "cursive";
$weight: 300, 400, 500, 600, 700, 800, 900; 




